# Week 4, Class 7
# Putting, numpy, pandas, functions to solve a business problem

In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from pandas import ExcelWriter
from pandas import ExcelFile

In [3]:
path='https://raw.githubusercontent.com/vikrambj2019/basic/master/Data/'
filename_read=os.path.join(path,"TestdataTableau_v1.xlsx")
df=pd.read_excel(filename_read,sheet_name='rawdata')

In [8]:
df.head()

,Month,Custumer Name,Customer Group,Product,City,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU
0,2017-02-01,* SUMMIT ELECTRIC SUPPLY,Medium,CSt,Sacramento,199.44,93.0974,68.5374,9.234072,4.4096,22.0704
1,2018-02-01,* SPRINGFIELD ELECTRIC SUPPLY,Large,CST,El Monte,767.00,283.5617,151.2411,25.387700,10.4405,48.7026
2,2017-06-01,* NU-LITE ELECTRICAL WHLSRS,little,CST,Salt Lake City,122.25,85.0163,49.3526,4.132050,6.8984,15.8925
3,2017-06-01,* MICK ELECTRIC COMPANY,little,CST,Eugene,569.56,270.6263,163.6132,20.618072,7.1545,52.6867
4,2017-04-01,* FRANKLIN ELECTRIC COMPANY,Medium,CST,San Diego,3217.20,1629.5767,1092.8027,147.991200,-31.4172,351.9040

In [7]:
df.dtypes

Month                 datetime64[ns]
Custumer Name                 object
Customer Group                object
Product                       object
City                          object
Sales_amt                    float64
Standard_Cost                float64
Metal_Cost                   float64
Taxes                        float64
FreightUnrecovered           float64
Metal_weight_CU              float64
dtype: object

In [6]:
df['Month']=pd.to_datetime(df['Month'])

In [10]:
df[df['Month'].isnull()]

Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []

In [11]:
for i in df.columns:
    print (df[i][0])

2017-02-01 00:00:00
* SUMMIT ELECTRIC SUPPLY
Medium
CSt
 Sacramento
199.44
93.0974
68.5374
9.234072
4.4096
22.0704

In [13]:
def prntMssngVlus(df):
    for i in df.columns:
         print (df[df[i].isnull()])
    return None

In [15]:
prntMssngVlus(df)

Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []

In [16]:
df['Product'].value_counts()

CST    626
RST    166
MST    100
CSt      1
Name: Product, dtype: int64

In [23]:
a=pd.DataFrame(df['Month'].value_counts())
a

            Month
2018-05-01     90
2018-02-01     87
2018-04-01     84
2017-05-01     79
2017-06-01     73
2017-04-01     73
2017-02-01     73
2018-06-01     73
2018-01-01     67
2018-03-01     67
2017-01-01     64
2017-03-01     63

In [25]:
df['City'].value_counts()

 Kansas City           13
 Springfield           11
 Memphis               11
 Cedar Rapids          10
 Nashville-Davidson    10
 Montgomery            10
 Raleigh               10
 Hampton               10
 Aurora                10
 Lansing                9
 Little Rock            9
 New Orleans            9
 Virginia Beach         9
 Minneapolis            9
 Pasadena               9
 Moreno Valley          9
 Oceanside              9
 Sacramento             8
 Lexington-Fayette      8
 Arlington              8
 El Paso                8
 Birmingham             8
 Yonkers                8
 Hollywood              8
 Mobile                 8
 San Antonio            8
 Fontana                8
 Fayetteville           8
 Naperville             8
 Mesquite               8
                       ..
 Shreveport             2
 Fremont                2
 Flint                  2
 Providence             2
 Atlanta                2
 Abilene                2
 Durham                 2
 Warren                 2
 Greensboro             2
 Seattle                2
 Sunnyvale              2
 Richmond               2
 Baltimore              2
 Jacksonville           2
 Saint Louis            2
 Norfolk                2
 Thousand Oaks          2
 Chattanooga            2
 Lancaster              2
 Garland                1
 Elizabeth              1
 Laredo                 1
 Austin                 1
 Toledo                 1
 Salinas                1
 Amarillo               1
 Los Angeles            1
 Tempe                  1
 Sioux Falls            1
 Winston-Salem          1
Name: City, Length: 191, dtype: int64

In [29]:
a=[]

for i in df.columns:
    x=len(df[i].value_counts())
    a.append(x)
a

[12, 180, 4, 4, 191, 843, 849, 809, 892, 611, 747]

In [32]:
b=[]
b=list(df.columns.values)

In [33]:
c=[]
for i in range(len(a)):
    c.append([b[i],a[i]])

In [34]:
c

[['Month', 12],
 ['Custumer Name', 180],
 ['Customer Group', 4],
 ['Product', 4],
 ['City', 191],
 ['Sales_amt', 843],
 ['Standard_Cost', 849],
 ['Metal_Cost', 809],
 ['Taxes', 892],
 ['FreightUnrecovered', 611],
 ['Metal_weight_CU', 747]]

In [37]:
def unqVlusClmns(df):
    for i in df.columns:
        x=len(df[i].value_counts())
        a.append(x)
    b=list(df.columns.values)
    for i in range(len(a)):
        c.append([b[i],a[i]])
    return c

In [38]:
a=[]
b=[]
c=[]
unqVlusClmns(df)

[['Month', 12],
 ['Custumer Name', 180],
 ['Customer Group', 4],
 ['Product', 4],
 ['City', 191],
 ['Sales_amt', 843],
 ['Standard_Cost', 849],
 ['Metal_Cost', 809],
 ['Taxes', 892],
 ['FreightUnrecovered', 611],
 ['Metal_weight_CU', 747]]

In [39]:
df['Product'].unique()

array(['CSt', 'CST', 'RST', 'MST'], dtype=object)

In [42]:
df.loc[df['Product'].isin(['CST','CSt'])]

,Month,Custumer Name,Customer Group,Product,City,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU
0,2017-02-01,* SUMMIT ELECTRIC SUPPLY,Medium,CSt,Sacramento,199.44,93.0974,68.5374,9.234072,4.4096,22.0704
1,2018-02-01,* SPRINGFIELD ELECTRIC SUPPLY,Large,CST,El Monte,767.00,283.5617,151.2411,25.387700,10.4405,48.7026
2,2017-06-01,* NU-LITE ELECTRICAL WHLSRS,little,CST,Salt Lake City,122.25,85.0163,49.3526,4.132050,6.8984,15.8925
3,2017-06-01,* MICK ELECTRIC COMPANY,little,CST,Eugene,569.56,270.6263,163.6132,20.618072,7.1545,52.6867
4,2017-04-01,* FRANKLIN ELECTRIC COMPANY,Medium,CST,San Diego,3217.20,1629.5767,1092.8027,147.991200,-31.4172,351.9040
5,2018-02-01,* CRESCENT ELECTRIC SUPPLY,Large,CST,Virginia Beach,574.00,226.7101,131.6069,20.319600,2.3405,42.3800
6,2017-02-01,* CRESCENT ELECTRIC SUPPLY,Large,CST,Oakland,1285.12,752.4630,162.4174,78.392320,20.6721,52.3016
7,2017-01-01,* CHANCELLOR ELECTRICAL SUPPLY,small,CST,Mesquite,75.00,53.7496,28.4815,2.595000,0.0000,9.1716
8,2018-04-01,# KILOWATTS ELECTRIC SPLY 8150,small,CST,Fort Worth,382.92,267.1275,133.7235,13.899996,17.4184,43.0616
9,2017-01-01,# DOVER ELECTRIC SUPPLY #1275,small,CST,Plano,140.40,54.6661,25.3177,5.545800,1.5958,8.1528
10,2018-05-01,# AAA ELECTRICAL SUPPLY #6910,Medium,CST,Fontana,2406.00,1166.8885,561.9998,152.540400,61.1100,180.9750
11,2017-06-01,WIRE MASTERS INC,small,CST,Lansing,296.00,111.8578,64.8019,18.322400,0.0000,20.8675
12,2017-05-01,NEEDHAM ELECTRIC SUPPLY CORP,Medium,CST,Columbus,2419.36,1108.9295,623.8546,119.758320,45.6720,200.8935
13,2018-03-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Jersey City,1702.70,1054.2156,610.9909,61.808010,69.4221,196.7511
14,2017-01-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Garland,371.36,265.5481,182.7683,12.997600,26.5033,58.8550
15,2018-02-01,CED-CONSOLIDATED ELEC DIST,Large,CST,Huntington Beach,992.76,459.1540,266.7364,56.488044,0.0000,85.8944
16,2017-05-01,WESCO DISTRIBUTION,Large,CST,Irvine,4417.06,2845.7223,1840.5349,188.608462,61.6135,592.6885
17,2018-05-01,WESCO DISTRIBUTION,Large,CST,North Las Vegas,4114.44,2712.9883,1889.1036,202.841892,213.0986,608.3286
18,2017-05-01,* WHOLESALE ELECTRIC,Large,CST,Montgomery,1378.00,688.0335,434.7579,76.892400,20.0190,140.0006
19,2018-05-01,* US ELECTRICAL SERVICES INC,Medium,CST,Wichita,702.36,317.5380,215.3756,42.492780,25.2617,69.3552
20,2018-02-01,* UNITED ELECTRIC SUPPLY CO,Large,CST,Hampton,2147.66,1034.6385,534.4348,88.698358,24.0374,172.0986
21,2018-05-01,* CRESCENT ELECTRIC SUPPLY,Large,CST,Minneapolis,394.32,131.7277,57.0375,17.547240,0.0000,18.3672
22,2017-01-01,# COMPONENT SPECIALTIES #8580,small,CST,Oceanside,671.40,256.7629,185.0520,34.241400,0.0000,59.5904
23,2017-04-01,HUBBARD INDUSTRIAL SUPPLY,Medium,CST,Columbia,451.84,186.2373,124.8917,28.149632,0.0000,40.2176
24,2018-01-01,* WHOLESALE ELECTRIC,Large,CST,Kansas City,1711.22,968.9736,678.2194,52.021088,100.9327,218.4000
25,2018-04-01,* SUNRAY ELECTRIC SUPPLY CO,small,CST,Knoxville,324.36,187.1964,117.6779,14.596200,3.4014,37.8946
26,2017-06-01,* MADISON ELECTRIC CO,Medium,CST,Pasadena,2119.42,1019.2347,686.8611,100.036624,17.2990,221.1828
27,2017-06-01,"ANIXTER, INC",Large,CST,Irving,179.55,62.3526,37.3533,7.505190,0.9817,12.0285
28,2017-06-01,* HELSEL - JEPPERSON ELEC,Medium,CST,Corona,687.68,340.3025,234.7086,43.048768,5.0416,75.5808
29,2017-04-01,* DAKOTA SUPPLY GROUP,Large,CST,Fort Collins,9118.38,3738.8369,2186.0572,447.712458,169.4155,703.9535
...,...,...,...,...,...,...,...,...,...,...,...
597,2018-02-01,- WERNER ELECTRIC SUPPLY CO,Large,CST,Portland,1047.08,407.8384,214.8264,72.457936,18.4277,70.2070
598,2018-05-01,- H LEFF ELECTRIC CO INC,Medium,CST,Moreno Valley,898.38,519.3835,299.6438,33.599412,6.0726,97.9260
599,2017-01-01,- ELECTRICAL WHOLESALE SUPPLY,Medium,CST,Rancho Cucamonga,1940.53,1212.9550,819.1484,131.179828,132.2933,267.7043
600,2018-04-01,AARON'S SUPPLY,Medium,CST,Hollywood,2066.52,984.7690,675.3322,68.608464,253.6900,220.7040
601,2018-02-01,WESCO DISTRIBUTION,Large,CST,Pittsburgh,5962.52,3088.7960,1842.7083,378.620020,296.1233,613.9700
602,2018-05-01,WESCO DISTRIBUTION,Large,CST,Hampton,17842.06,9743.4618,6322.4620,554.888066,464.7698,2106.5746
603,2017-03-01,* F D LAWRENCE * CINCINNATI,Medium,CST,Madison,399.04,183.9331,133.5843,19.832288,3.6358,44.5088
604,2017-03-01,* COUNTRY LINE ELECTRICAL DIST,Medium,CST,Columbia,312.00,172.7541,101.8191,12.792000,4.6562,33.9250
605,2018-05-01,# KEER ELECTRICAL SUPPLY #5130,small,CST,Chicago,277.00,125.1947,63.1173,18.669800,0.0000,21.0300
606,2017-01-01,"~ VALLEN DISTRIBUTION, INC",Medium,CST,Charlotte,419.40,178.1552,111.6508,26.967420,-14.5589,37.2008
607,2017-06-01,~ ONESOURCE DISTRIBUTORS,Medium,CST,Sacramento,1200.00,773.9072,267.9561,76.800000,-13.8373,89.2800
608,2017-05-01,~ COOPER FRIEDMAN ELECTRIC SUP,Medium,CST,Raleigh,13496.95,6335.5754,3984.5188,627.608175,96.9976,1327.5977
609,2017-02-01,REXEL INC,Large,CST,Fayetteville,347.00,236.2068,44.6894,23.040800,4.2708,14.8900
610,2018-02-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Amarillo,957.66,501.6210,331.0131,43.573530,48.3195,110.2899
611,2018-04-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Montgomery,428.40,190.1647,135.7932,14.694120,0.0000,45.2448
612,2017-04-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Little Rock,89.50,60.5905,34.1098,2.846100,0.0020,11.3650
613,2017-04-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Augusta-Richmond County,93.06,56.1882,37.6903,4.085334,1.6749,12.5580
614,2017-02-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Las Vegas,187.92,129.1393,88.3204,12.590640,4.6662,29.4274
615,2017-06-01,GRAYBAR ELECTRIC COMPANY,Large,CST,Irving,876.75,552.9436,262.8163,29.283450,0.0000,87.5675
616,2018-01-01,GENERAL SUPPLY AND SERVICES,Large,CST,Paradise,331.98,130.1573,90.5288,21.611898,0.0000,30.1632
617,2017-06-01,GDL INDUSTRIAL ELECTRONICS,Medium,CST,Mesa,1420.02,391.4781,178.3996,92.017296,107.8700,59.4408
618,2018-04-01,CED-CONSOLIDATED ELEC DIST,Large,CST,Naperville,381.60,215.0607,103.2567,14.691600,0.0000,34.4040
619,2018-03-01,CED-CONSOLIDATED ELEC DIST,Large,CST,Winston-Salem,1163.40,772.3300,123.8486,67.942560,0.0000,41.2650
620,2018-04-01,CED-CONSOLIDATED ELEC DIST,Large,CST,Yonkers,412.50,283.0283,186.2457,14.437500,0.0000,62.0550
621,2018-02-01,- WERNER ELECTRIC SUPPLY CO,Large,CST,Oceanside,309.80,136.5930,44.1605,17.813500,1.1885,14.7138
622,2017-02-01,- RAYMOND DE STEIGER,Medium,CST,Fort Lauderdale,312.48,112.3764,75.3807,12.967920,7.9192,25.1160
623,2018-06-01,- FAIRMONT SUPPLY,Large,CST,Stockton,86.52,25.5073,5.9066,5.407500,0.5943,1.9680
624,2017-02-01,- FAIRMONT SUPPLY,Large,CST,Wichita,314.60,112.8907,82.9847,14.565980,0.0000,27.6496
625,2018-05-01,- BUCKLES-SMITH ELECTRIC,small,CST,Corona,274.46,163.2924,42.3678,13.613216,6.7432,14.1165
626,2018-01-01,- BORDER STATES ELECTRIC,Large,CST,Little Rock,5976.42,3307.3378,1887.5625,354.999348,320.1495,628.9150

In [43]:
df.loc[df['Product']=='CSt','Product']='CST'

In [45]:
df['Product'].value_counts()

CST    627
RST    166
MST    100
Name: Product, dtype: int64

In [46]:
df['Customer Group'].value_counts()

Large     467
Medium    288
small     136
little      2
Name: Customer Group, dtype: int64

In [47]:
df.loc[df['Customer Group']=='little','Customer Group']='small'

In [48]:
df['Customer Group'].value_counts()

Large     467
Medium    288
small     138
Name: Customer Group, dtype: int64

In [52]:
df.describe()

,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU,Margin
count,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000
mean,3557.293970,1714.740605,1340.488746,192.358307,48.470035,326.927649,261.236279
std,23361.990876,8702.574372,14154.027769,1460.329211,141.738888,1730.293308,3222.092423
min,5.227200,0.602725,0.551254,0.178248,-357.301000,0.301632,-39275.970572
25%,285.840000,128.544000,74.706600,14.083144,0.000000,22.991100,-13.068000
50%,688.500000,325.263300,195.450500,32.053476,5.873600,59.590400,73.391960
75%,2143.720000,1103.862600,598.909500,96.921794,41.444200,201.088000,285.501296
max,633951.840000,196409.571000,412754.887800,39938.965920,2489.000000,44963.875200,42119.135884

In [51]:
df['Margin']=df['Sales_amt']-df['Standard_Cost']-df['Metal_Cost']-df['Taxes']-df['FreightUnrecovered']

In [53]:
# I want to know what is my profitable city
df.groupby(['City'])['Margin'].sum()

City
 Abilene                     3650.375603
 Akron                        218.204530
 Albuquerque                  257.877642
 Alexandria                  9236.634858
 Amarillo                      33.132870
 Anaheim                    -2287.419474
 Anchorage                   -233.705932
 Ann Arbor                    -47.777340
 Arlington                    404.873046
 Atlanta                    -1511.985096
 Augusta-Richmond County     8725.279451
 Aurora                      3553.748114
 Austin                        43.085380
 Bakersfield                   34.090939
 Baltimore                    -71.072296
 Baton Rouge                14095.897572
 Beaumont                    6445.221846
 Birmingham                  2799.314622
 Boise City                 -1217.210638
 Boston                      1978.040498
 Bridgeport                  1053.338368
 Brownsville                 3774.807232
 Buffalo                    -5859.669605
 Cedar Rapids              -18286.138310
 Chandler                     214.173620
 Charlotte                   1456.981560
 Chattanooga                  711.150528
 Chesapeake                  -730.285030
 Chicago                      960.008536
 Chula Vista                 3026.948565
                                ...
 Scottsdale                    26.701200
 Seattle                   -15119.842248
 Shreveport                   316.883800
 Sioux Falls                   89.766100
 Spokane                      609.574597
 Springfield                 2673.252658
 Stamford                     395.772036
 Sterling Heights           -2074.589455
 Stockton                   -4847.791279
 Sunnyvale                   1713.400913
 Syracuse                   -2676.135074
 Tacoma                     -8550.512200
 Tallahassee                 -775.393306
 Tampa                       2237.697057
 Tempe                        -46.547800
 Thousand Oaks                 12.246292
 Toledo                     -2174.176512
 Topeka                     -2203.801318
 Torrance                    2348.877674
 Tucson                      3083.235022
 Tulsa                       5894.691680
 Vallejo                     -204.474729
 Vancouver                  -3497.137190
 Virginia Beach              3676.233365
 Warren                      -935.490378
 Washington                  6405.881370
 Wichita                      778.866168
 Winston-Salem                199.278840
 Worcester                    868.709080
 Yonkers                     2242.218362
Name: Margin, Length: 191, dtype: float64

In [55]:
df['Margin'].groupby(df['City']).sum().nlargest(1)

City
 Colorado Springs    42818.517164
Name: Margin, dtype: float64

In [56]:
def gtTpVlus(df,measure,column,top):
    return df[measure].groupby(df[column]).sum().nlargest(top)

In [57]:
measure='Margin'
column='City'
gtTpVlus(df,measure,column,1)

City
 Colorado Springs    42818.517164
Name: Margin, dtype: float64

In [59]:
gtTpVlus(df,measure,column,3)

City
 Colorado Springs    42818.517164
 Naperville          35305.168942
 Oceanside           31715.154556
Name: Margin, dtype: float64

In [61]:
measure='Sales_amt'
column='Custumer Name'
gtTpVlus(df,measure,column,1)

Custumer Name
CED-CONSOLIDATED ELEC DIST    763844.2771
Name: Sales_amt, dtype: float64